*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1 0 auto;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}