<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/resources/css/TKGlobalStyleAsset.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/TKGlobalErrorView.css">
</head>
<body>
<header>
    <h1>오류가 발생했습니다.</h1>
</header>
<section>
    <br>
    <h3 id="error-code" th:text="${errorCode}">error code</h3>
    <p id="error-message" th:text="${errorMessage}">error message</p>
    <br>
    <a th:href="@{/}" role="button">메인으로</a>
</section>
</body>
</html>