<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/resources/css/TKGlobalStyleAsset.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/TKMainView.css">
</head>
<body>
<header>
    <h1>시작 페이지</h1>
</header>
<section>
    <a th:href="@{/register}" role="button">1. 회원가입</a><br>
    <a th:href="@{/login}" role="button">2. 로그인</a>
</section>
</body>
</html>