<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/resources/css/TKGlobalStyleAsset.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/login/TKLoginView.css">
    <script src="/resources/js/login/TKLoginView.js" defer>

    </script>
</head>
<body>
<header>
    <h1>사용자 로그인</h1>
</header>
<section>
    <div class="login-wrapper">
        <div class="input-wrapper">
            <label for="id">아이디:<br></label>
            <input type="text" id="id" name="id" required>
            <div id="id-error-label" class="error-label"></div>
        </div>
        <div class="input-wrapper">
            <label for="password">비밀번호:<br></label>
            <input type="password" id="password" name="password" required>
            <div id="password-error-label" class="error-label"></div>
        </div>
        <div class="button-wrapper">
            <button id="reset-button" type="button">다시쓰기</button>
            <button id="login-button" type="button">로그인</button>
        </div>
    </div>
</section>
</body>
</html>